table {
    background: var(--color-secundario);
    color: var(--color-principal);
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid var(--color-principal);
    padding: 10px;
    text-align: center;
}

tr:hover {
    background-color: rgba(0,0,0,0.1);
}

.tooltip {
    position: relative;
    cursor: pointer;
}

.tooltip-text {
    position: absolute;
    background: var(--color-principal);
    color: var(--color-secundario);
    padding: 5px;
    border-radius: 5px;

    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);

    opacity: 0;
    transition: 0.3s;
    white-space: nowrap;
}

.tooltip:hover .tooltip-text {
    opacity: 1;
}